/* Created by: Mariam Kasim
* Created on: Feb 2023
* This file contains the CSS for index.html
*/

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #607d8b;
  font-size: 40px;
}

h2 {
  background-color: #607d8b;
}

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
  text-align: center;
  font-style: normal;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f5f0e6;
  font-size: larger;
}

body {
  text-align: center;
  margin: auto;
  width: 640px;
  padding: 20px;
  font-size: 100%;
}
